---
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import AuthorCard from "../components/AuthorCard.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Whatsapp from "../components/Whatsapp.astro";
import AboutMe from "../components/AboutMe.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import Footer from "../components/Footer.astro";
import { services } from "../utils/Services.astro";
import Articulos from "../components/Articulos.astro";
import MenuAcordeon from "../components/MenuAcordeon.astro";
---

<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="logotipo.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
        name="description"
        content="Contador Público en Colombia. Ofrezco asesoría contable y fiscal personalizada para empresas y personas, con precisión, transparencia y cumplimiento legal. Servicios de análisis integral, planificación fiscal, y automatización de procesos para maximizar beneficios y reducir costos. Consultoría estratégica y soporte personalizado con actualización constante y generación de informes."
    />
    
    <title>
        Contador Público en Colombia | Asesoría Financiera y Contable -
        Precisión, Transparencia, y Optimización
    </title>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</head>

<body>
    <Header />
    <Navbar />
    <Whatsapp />
    <Home />
    <section class="bg-gray-100">
        <AuthorCard />
    </section>
    <section class="w-full flex justify-center" id="servicios">
        <div class="container mx-auto py-16  px-3 lg:px-8 text-gray-800">
            <h2 class="text-4xl text-[#000] font-bold text-center lg:mb-10">
                Portafolio de Servicios
            </h2>
            <div class="grid md:grid-cols-2 -mt-20 lg:mt-0 lg:grid-cols-3 gap-3 lg:gap-8 scale-90 2xl:scale-100">
                {
                    services.map((service) => (
                        <ServiceCard
                            icon={service.icon}
                            title={service.title}
                            items={service.items}
                            whatsappMessage={service.whatsappMessage}
                        />
                    ))
                }
            </div>
        </div>
    </section>
    <AboutMe />
    <section  class="flex w-full flex-wrap mx-auto justify-center items-start gap-y-40 gap-x-4 my-24">
        <div class="flex justify-center flex-wrap gap-4 w-full">
            <MenuAcordeon />
            <div class="p-2">
                <img class="w-full lg:w-96" src="tarifas.jpg" alt="Tarifas de servicios contables" />
                <span class="text-xl font-normal hover:text-gray-700 cursor-pointer my-2 underline">Conocer más sobre tarifas y costos</span>
            </div>
        </div>
        <Articulos />
    </section>

    <ImageCarousel />
    <Footer />
</body>
</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }
</style>
