---
const author = {
  name: "Brian Pedraza",
  title: "Contador Público en Colombia",
  description: `Contador Público con sólida experiencia en asesoría financiera y contable para empresas y personas naturales en Colombia. Mi misión es brindar a cada cliente un respaldo integral en el manejo de sus finanzas y obligaciones fiscales, permitiendo que se concentren en el crecimiento y éxito de sus negocios. Comprometido con la precisión, la ética y el cumplimiento de las normativas vigentes, ofrezco un servicio personalizado y confiable.`,
  imageSrc: "brian.jpeg",
};
---

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js" onload="AOS.init({ duration: 1000 })"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css" />
</head>

<div class="flex justify-center container mx-auto py-5 lg:my-16">
  <div class="flex flex-col lg:flex-row items-center space-x-0 lg:space-x-6 max-w-4xl gap-5 p-8 lg:p-0">
    <!-- Sección de texto animada desde la derecha -->
    <div class="flex flex-col w-full lg:px-2 lg:py-10 break-all" data-aos="fade-right">
      <h4 class="text-lg text-[#4dbb4b] font-medium italic">Sobre mí</h4>
      <h3 class="text-3xl font-semibold">
        {author.name} — <span class="font-normal text-green-700">{author.title}</span>
      </h3>
      <p class="text-gray-700 mt-2 text-base lg:text-xl font-light">{author.description}</p>
    </div>
    
    <!-- Imagen animada desde la izquierda -->
    <img
      src={author.imageSrc}
      alt={author.name}
      class="w-28 hidden lg:flex h-24 rounded-full object-cover lg:order-first lg:mb-0 mb-4"
      data-aos="fade-left"
    />
  </div>
</div>
